**/bin
**/obj
**/node_modules
**/docs
**/.git
**/.gitignore
**/.dockerignore
**/.vs
**/.vscode
**/.idea
**/.env
**/.project
**/.settings
**/docker-compose*
**/Dockerfile*
**/*.db*
**/*.yml
**/*.user
coverage.json 
**/LICENSE.txt
**/LICENSE.md
README.md