@page
@model Auth.CookieAndBearerAuth.Pages.AdminArea.Index

@{
    ViewData["Title"] = "Admin Area";
}

<div class="text-center">
    <h1 class="display-4">Admin Area</h1>
    <p>This page is available only to Administrators.</p>
</div>