@page
@model Auth.Playground.AspIdentityApp.Pages.Account.ForgotPassword

@{
    ViewData["Title"] = "Password Reset 🔑";
}
<p>
    <h3>Request password reset</h3>
</p>
<div class="container border" style="padding:20px">
    <form method="post">
        <div class="text-danger" asp-validation-summary="All"></div>
        <div class="row form-group">
            <div class="col-2">
                <label asp-for="ViewModel.Email"></label>
            </div>
            <div class="col-5">
                <input type="text" asp-for="ViewModel.Email" class="form-control"/>
            </div>
            <span class="text-danger" asp-validation-for="ViewModel.Email"></span>
        </div>
        <div class="form-group row">
            <div class="col-2">
                <input type="submit" class="btn btn-primary" value="Request Reset"/>
            </div>
            <div class="col">
            </div>
        </div>
    </form>
</div>