@page
@model Auth.Playground.CookieAuth.Pages.HumanResourceModel
@{
    ViewData["Title"] = "Human Resource Page";
}

<div class="text-center">
    <h1 class="display-4">Human Resource</h1>
    Welcome to the HR department.
</div>
